/* -- Style reset -- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* --- HTML5 display-role reset for older browsers --- */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
::after
::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* --- End of reset --- */


/* -- Background color to the top navigation --- */
.theme_body {
    font-family: 'Libre Baskerville', serif;
    background-color: #F6F4E8;
}

.navbar {
    background-color: #294039;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 6rem;
    width: 100%;
    align-items: normal;
  }

  #omatsanke {
    margin-left: -3rem;
  }
 
  /* --- Style links inside navigation bar --- */
  .navbar a {
    color: #F6F4E8;
    padding-top: 4.6rem;
    text-decoration: none;
    font-size: 20px;
    padding-left: 2%;
  }

  .navbar img {
    width: 283.5px;
    height: 212.7px;
    padding: 0 40px;
    margin-top: -35%;
    padding-top: 4px;
   
  }

  /* --- Hover links --- */
  .navbar a:hover {
    opacity: 0.7;
  }
  /* --- End of menu --- */

  /* --- Main --- */
  .bgbillede {
    width: 100%;
    margin-right: -15%;
  }
  


  /* --- Artikel --- */
  .overskrift {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    color: #294039;
    line-height: 25px;
    letter-spacing: 3px;
    width: 100%;
    margin-top: -83%;
    flex-wrap: wrap;
    padding: 15px;
  }

  .overskrift p {
    font-size: 18px;
  }

  .overskrift h2 {
    font-size: 23px;
    text-decoration: underline;
  }
  .punkt1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    color: #294039;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 3px;
    width: 100%;
    margin-top: -70%;
    padding: 15px;
  }

  .punkt2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    color: #294039;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 3px;
    width: 100%;
    margin-top: -50%;
    margin-left: -1.8%;
    padding: 15px;
  }

  .punkt3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    color: #294039;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 3px;
    width: 100%;
    margin-top: -35%;
    padding: 15px;
  }

  .punkt4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    position: absolute;
    color: #294039;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 3px;
    width: 100%;
    margin-top: -15%;
    margin-left: 17%;
    margin-bottom: 5%;
    padding: 15px;
  }

  /* --- Prikker --- */
  .dot1 {
    height: 25px;
    width: 25px;
    background-color: #a6b98b;
    border-radius: 50%;
    display: flex;
    margin-left: 2%;
    margin-top: -68.8%;
    position: absolute; 
  }

  .dot2{
    height: 25px;
    width: 25px;
    background-color: #a6b98b;
    border-radius: 50%;
    display: flex;
    margin-left: 2%;
    margin-top: -48.8%;
    position: absolute; 
  }

  .dot3 {
    height: 25px;
    width: 25px;
    background-color: #a6b98b;
    border-radius: 50%;
    display: flex;
    margin-left: 2%;
    margin-top: -33.8%;
    position: absolute; 
  }

  .dot4 {
    height: 25px;
    width: 25px;
    background-color: #a6b98b;
    border-radius: 50%;
    display: flex;
    margin-left: 51%;
    margin-top: -68.8%;
    position: absolute; 
  }

  .dot5 {
    height: 25px;
    width: 25px;
    background-color: #a6b98b;
    border-radius: 50%;
    display: flex;
    margin-left: 51%;
    margin-top: -48.8%;
    position: absolute; 
  }

  .dot6 {
    height: 25px;
    width: 25px;
    background-color: #a6b98b;
    border-radius: 50%;
    display: flex;
    margin-left: 51%;
    margin-top: -33.8%;
    position: absolute; 
  }





 /* --- Footer --- */
 .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #294039;
    color: #F6F4E8;
    height: 7rem;
    padding-top: 2%;
    letter-spacing: 3px;
    line-height: 35px;
  }
  
  
  .some {
    margin-right: 20px;
  }  

   /* --- Ekstra ---*/
   html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }